:root{
  ---darkTheme:#0F1624;
}


 /* Link style */
.Link{
  text-decoration: none;
  color: rgb(97, 95, 95);
}

.Link :hover{
  color: rgb(97, 95, 95);

}


.App{
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 10px;

}
/* ::-webkit-scrollbar-thumb {
  background: var(---darkTheme);
  border-radius: 10px;
} */

/* end of Link style */

/* nav styes */
.textnav{
  color:white;
}
/* end of nav style */

/* trending style */


/* .singletrend{
  display: flex;
} */

/* end of .trending */


/* errorpage */
.errosect{
  width: 100%;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

/* erropage end */
